@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-7 py-1 cursor-pointer bg-orange-500 border-4 font-black text-white   border-orange-600 rounded hover:bg-orange-600 hover:text-white ease-in duration-150;
  }
  .header-icon {
    @apply flex items-center space-x-2 cursor-pointer hover:text-orange-500;
  }
}

@layer utilities {
  @font-face {
    font-family: "MuseoSans";
    src: local("MuseoSansRounded300.otf"), url(/fonts/MuseoSansRounded300.otf);
  }
}

@layer utilities {
  :root {
    --primary: rgba(249, 115, 22);
    --primary-light: rgba(251, 146, 60);
  }
}
